
.col{
    margin: 1%;
}
#OpenNewFileButton{
    
    float: right;
}
#ReportsButtton{
    
    float: right;
}
.navbar {
    justify-content: end;
}
.searchFile{
    width: 50%;
    margin-left: 25%;
    margin-top: 13%;
}
.searchFile form{
    margin-top: 2%;
    /* margin-left: 40%; */
}
#CommentSection{
    margin: 2%;
    margin-left: 0;
}
#sowcButton{
    margin-top: 2%;
}
#editButton{
    margin-left: 5%;
}
.row{
    padding-top: 1%;
}
.headingReports{
    margin: 3%;
}
#FileNotFoundMsg{
    margin-top: 5%;
    text-align: center;
}
#searchForm{
    margin-top: 17%;
}

/* a, button{
    text-decoration: none !important;
    color: white !important;
    background-color: #009CAB !important;
    border: none !important;

}

.accordion-button{
    background-color: #8fcadd !important;
    color: black !important;
   
}
.accordion a{
    background-color: transparent !important;
    color: black !important;
}
.add-buttons-finance-page button{
    color: black !important;
} */

